.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
}
.row {
    width: 100%;
    padding: 5px;
    clear:both;
}
.top_bar {
    height: 50px;
    background:#a00;
    display: flex;
    justify-content: space-between;
}
.box {
    width: 250px;
    height:100%;
    background:#ccc;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.box div {
    padding: 0 10px;
}
